
head {
  background-color: black;
  color: blue;
}

div#wrapper {
  background-color: black;
  color: blue;
}

legend {
    /* padding: 0 10px;
    font: 12px Verdana, Arial, sans-serif; */
    color: red;
    text-transform: uppercase;
}

body {
  background-color: black;
  color: blue;

}
div {
  background-color: black;
  color: blue;

}


h3 {
  background-color: black;
  color: blue;

}

h4 {
  background-color: black;
  color: blue;

}
